In [1]:
#Lists
my_list = [1,2,3,4,5]
first_list = ['Ashfaq', 10, 99.99]

In [2]:
len(my_list)

5

In [3]:
len(first_list)

3

In [4]:
my_list

[1, 2, 3, 4, 5]

In [5]:
first_list

['Ashfaq', 10, 99.99]

In [6]:
my_list[0]

1

In [7]:
my_list[2]

3

In [8]:
my_list[0:]

[1, 2, 3, 4, 5]

In [9]:
my_list[2:]

[3, 4, 5]

In [10]:
second_list = my_list + first_list

In [11]:
second_list

[1, 2, 3, 4, 5, 'Ashfaq', 10, 99.99]

In [12]:
second_list[0] = 'Ishaq'

In [13]:
second_list

['Ishaq', 2, 3, 4, 5, 'Ashfaq', 10, 99.99]

In [14]:
#Adding item in list
second_list.append('Ali')

In [15]:
second_list

['Ishaq', 2, 3, 4, 5, 'Ashfaq', 10, 99.99, 'Ali']

In [16]:
#Removing item from list
second_list.pop()

'Ali'

In [17]:
second_list

['Ishaq', 2, 3, 4, 5, 'Ashfaq', 10, 99.99]

In [18]:
second_list.pop(0)

'Ishaq'

In [19]:
second_list

[2, 3, 4, 5, 'Ashfaq', 10, 99.99]

In [20]:
popped_item = second_list.pop(2)

In [21]:
popped_item

4

In [22]:
my_list

[1, 2, 3, 4, 5]

In [23]:
#Reversing List
my_list.reverse()

In [24]:
my_list

[5, 4, 3, 2, 1]

In [25]:
#Sorting List
my_list.sort()

In [26]:
my_list

[1, 2, 3, 4, 5]

In [27]:
#Tuples
t = (1,2,3,4,5)
type(t)

tuple

In [28]:
mylist = [1,2,3,4,5]
type(mylist)

list

In [29]:
len(t)

5

In [30]:
len(mylist)

5

In [31]:
t = ('Ali is', 50, 'year old')

In [32]:
t[0]

'Ali is'

In [33]:
t[0:]

('Ali is', 50, 'year old')

In [34]:
books = ('Hamlet', 'Romeo and Juliet', 'Macbeth', 'Othello','Hamlet')

In [35]:
books.count('Hamlet')

2

In [36]:
books.count('Romeo and Juliet')

1

In [37]:
books.index('Othello')

3

In [38]:
books.index('Hamlet')

0

In [39]:
mylist[0] = 'Adnan'

In [40]:
#List can be changed but tuple cannot be changed
mylist

['Adnan', 2, 3, 4, 5]

In [41]:
#Sets
myset = set()

In [42]:
myset

set()

In [43]:
myset.add(1)

In [44]:
myset

{1}

In [45]:
myset.add(2)

In [46]:
myset

{1, 2}

In [47]:
mylist = [0,0,0,0,0,1,1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4,4]

In [48]:
#Remove repeated numbers
set(mylist)

{0, 1, 2, 3, 4}

In [49]:
mylist1 = [0,0,0,0,0,4,4,4,4,4,2,2,2,2,3,3,3,3,1,1,1,1,1]

In [50]:
#Arrange list
set(mylist1)

{0, 1, 2, 3, 4}

In [51]:
#Dictionary
my_dict = {'key1':100, 'key2':200, 'key3':300}

In [52]:
my_dict

{'key1': 100, 'key2': 200, 'key3': 300}

In [53]:
my_dict['key1']

100

In [54]:
my_dict['key3']

300

In [55]:
my_stationary = {'pencil':'Rs 10','scale':'Rs5','pen':'Rs50','rubber':'Rs5'}

In [56]:
my_stationary

{'pencil': 'Rs 10', 'scale': 'Rs5', 'pen': 'Rs50', 'rubber': 'Rs5'}

In [57]:
dict_1 = {'key1':100, 'key2':200, 'key3':300, 'key4':{'2key': 400}}

In [58]:
dict_1

{'key1': 100, 'key2': 200, 'key3': 300, 'key4': {'2key': 400}}

In [59]:
dict_1['key1']

100

In [60]:
dict_1['key4']

{'2key': 400}

In [61]:
dict_1['key4']['2key']

400

In [62]:
dict_2 = {'key1':100, 'key2':200, 'key3':300, 'key4':{'2key': [400,500,'Amir']}}

In [63]:
dict_2['key4']['2key'][1]

500

In [64]:
#Uppercase
dict_2['key4']['2key'][2].upper()

'AMIR'

In [65]:
#Adding new key in the dictionary
dict_2['key5'] = 600

In [66]:
dict_2

{'key1': 100,
 'key2': 200,
 'key3': 300,
 'key4': {'2key': [400, 500, 'Amir']},
 'key5': 600}

In [67]:
#Changing dictionary value#
dict_2['key5'] = 'Babar'

In [68]:
dict_2

{'key1': 100,
 'key2': 200,
 'key3': 300,
 'key4': {'2key': [400, 500, 'Amir']},
 'key5': 'Babar'}

In [69]:
dict_2.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5'])

In [70]:
dict_2.values()

dict_values([100, 200, 300, {'2key': [400, 500, 'Amir']}, 'Babar'])

In [71]:
dict_2.items()

dict_items([('key1', 100), ('key2', 200), ('key3', 300), ('key4', {'2key': [400, 500, 'Amir']}), ('key5', 'Babar')])